* {
    font-family: Rubik, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 150%;
}

body div {
    background: #333333;
    color: #c5c5c5;
    aspect-ratio: 1;
    height: 50vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

body div p {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    margin: 0;
}