* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header, footer {
    text-align: center;
    background: #222222;
    padding: 1em;
    color: #c5c5c5;
}

body, h1 {
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

.osoba {
    padding: .5em;
}